.Button {
  background-color: $darkPurple;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  @include font-size(1.6rem);
  display: inline-block;
  @include padding(1.25rem 3rem);
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: $borderRadius;
}
.Button:hover,
.Button:focus {
  background-color: $primaryGreen;
  outline: none;
}

.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button--Large {
  @include padding(1.8rem 3rem);
}

.PageHero .Button--Large {
  margin-right: auto;

  &:hover {
    animation: 3s colorized infinite;
  }
}

@keyframes colorized {
  0% {
    background-color: $primaryYellow;
  }
  20% {
    background-color: $primaryOrange;
  }
  40% {
    background-color: $primaryBlue;
  }
  60% {
    background-color: $primaryGreen;
  }
  80% {
    background-color: $primary;
  }
  100% {
    background-color: $primaryRed;
  }
}

@media screen and (max-width: 750px) {
  .PageHero .Button--Large {
    margin: 0 auto;
  }
}

@media screen and (min-width: 751px) and (max-width: 1199px) {
  .Button {
    @include font-size(1.4rem);
    @include padding(1.5rem 2.5rem);
  }
}
