.Contact--Details {
  margin-top: 3rem;
}
.Contact--Details--Title,
.Contact--Details--Item {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Contact--Details--Title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: $midOrange;
  font-weight: 500;
  @include rfs(3.3rem, margin-top);
  svg {
    margin-right: 1.5rem;
  }
}
.Contact--Details--Item {
  text-decoration: none;
  color: $darkGrey;
  font-weight: 400;
}
.Contact--Details--Item:hover,
.Contact--Details--Item:focus {
  color: $primary;
}
