.hdSection {
  text-align: center;
  @include margin-bottom(6rem) .section-Instagram & {
    @include margin-bottom(3rem);
  }
}

.hdSection--Title {
  @include font-size(3.2rem);
  text-transform: uppercase;
  letter-spacing: 0.37rem;
  line-height: 1.2;

  .section-Inverse & {
    color: white;
  }
}

.hdSection--SubTitle {
  line-height: 1.6;
  color: #85a411;
  font-family: $font-primary;
  @include font-size(1.6rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;

  .section-Inverse & {
    color: $midYellow;
  }

  .section-Instagram & {
    color: white;

    a {
      color: $primary;
    }
  }
}

.hdSection--SubTitle a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
