.HomeCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include padding(0 3rem);
}

.HomeCategories--Item {
  border-radius: 50%;
}

.HomeCategories--Tt {
  @include font-size(1.6rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.23rem;
  @include margin-top(2.8rem);

  a {
    color: white;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}

.HomeCategories--Img {
  width: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #9476d6;
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;
    transform: scale(0.53);
    transition: all 0.15s ease-in-out;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    border: 1.4rem solid #513f88;
    border-radius: 50%;
    transition: all 0.2s;
  }

  &:hover {
    img {
      transform: scale(0.565);
    }

    &::after {
      border: 2rem solid #513f88;
    }
  }
}

@supports (display: grid) {
  .HomeCategories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
  }

  .HomeCategories > * {
    width: auto;
    margin: 0;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .HomeCategories {
    padding: 0;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .HomeCategories--Img::after {
    border: 1.2rem solid #513f88;
  }

  @supports (display: grid) {
    .HomeCategories {
      grid-gap: 6rem;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
  .HomeCategories > * {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  .HomeCategories--Tt {
    @include font-size(1.4rem);
  }

  @supports (display: grid) {
    .HomeCategories {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
    }
  }
}

// Very samll devices (landscape phones, less than 576px)
@media screen and (max-width: 575.98px) {
  .HomeCategories {
    @include padding(0 2rem);
  }
  
  @supports (display: grid) {
    .HomeCategories {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}