.Logo,
.LogoMobile {
  margin: 0 auto;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 16.5rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.Logo {
  width: 16.5rem;
  height: 10rem;
}