.Nav {
  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.Nav-Mobile {
  display: none;
}

.Nav--Container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 16rem;
}

.Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Nav .Logo,
.Nav .LogoMobile {
  position: relative;
}

.Nav--MenuButton {
  display: none !important;
}

.NavLink {
  @include padding(0.5rem 1.8rem);
  display: block;
  font-family: Lato;
  font-weight: bold;
  @include font-size(1.25rem);
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  .GeneralCategoriesNav & {
    @include padding(2.5rem 2rem);
  }
  
  .GeneralCategoriesNav &:hover,
  .GeneralCategoriesNav &[aria-current] {
    color: $midYellow;
  }
  
  .GeneralCategoriesNav &[aria-current] {
    background-color: $deepPurple;
  }
}

.NavLink.Nav--GroupLink {
  padding: 0.8rem 1.8rem;
  line-height: 1.4;
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: $primary;
  border-bottom-color: currentColor;
}

.Nav--Group {
  position: relative;
  cursor: pointer;
}

.Nav--GroupParent {
  padding-right: 3rem;
}

.Nav--GroupParent::after {
  content: '';
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 1.5rem;
  border-bottom: 2px solid $darkGrey;
  border-right: 2px solid $darkGrey;
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  transition: 0.3s ease all;
  transform: translateY(-50%) rotate(45deg);
}

.Nav--GroupLinks {
  z-index: 999;
  position: absolute;
  top: 100%;
  left: 0;
  // width: auto;
  background: white;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
  border: 3px solid $primary;
  border-radius: $borderRadius;
  padding: 1rem 0;
}

.Nav--Group.active .Nav--GroupLinks {
  max-height: 100vh;
  opacity: 1;
  transition: 0.6s ease all;
}

.Nav--Group.active .Nav--GroupParent::after {
  top: calc(50% + 0.2rem);
  transform: translateY(-50%) rotate(-135deg);
}

.Nav--GroupLink {
  display: block;
  position: relative;
  width: 19rem;
}

@media (max-width: 1119.98px) {
  .Nav-Large {
    display: none;
  }

  .LogoMobile {
    // width: 12.658rem;
    // height: 5.6rem;
    width: 10.172rem;
    height: 4.5rem;
  }

  .Nav-Mobile {
    display: flex;
  }

  .Nav--Container {
    display: flex;
    height: 6.8rem;
  }

  .inner-one {
    width: 100%;
  }

  .Nav--MenuButton {
    position: absolute;
    right: 0;
    display: block !important;
    margin-left: auto;
    z-index: 1;
  }

  .Nav .LogoMobile {
    z-index: 1;
  }

  .Nav--Links {
    z-index: 1;
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    animation: Nav--Links 0.2s ease;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }

  .Nav--Group .Nav--GroupLinks {
    height: 0;
    padding: 0;
    border: none;
    position: relative;
    top: 0;
    text-align: center;
  }

  .Nav--Group.active .Nav--GroupLinks {
    height: auto;
    border: 3px solid $primary;
    padding: 1rem 0;
  }

  .Nav--GroupLinks .NavLink {
    font-size: 1.5rem;
    width: auto;
  }

  .Nav .NavLink:nth-of-type(1) {
    animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.8s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.9s;
  }
}

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}
