.OurHighlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.OurHighlights--Item {
  @include padding(2rem);
  border-radius: $borderRadius;
  background-size: cover;

  &:nth-child(1) {
    background-color: $lightBlue;
    background-image: url(/images/hgl01.png);
  }
  &:nth-child(2) {
    background-color: $midYellow;
    background-image: url(/images/hgl02.png);
  }
  &:nth-child(3) {
    background-color: $lightGreen;
    background-image: url(/images/hgl03.png);
  }
  &:nth-child(4) {
    background-color: $lightOrange;
    background-image: url(/images/hgl04.png);
  }
}

.OurHighlights--Tt {
  @include font-size(1.6rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.23rem;
  @include rfs(0.8rem 0 2rem, margin);

  a {
    color: black;

    &:hover {
      color: white;
    }
  }
}

.OurHighlights--Desc {
  line-height: 1.4;
  color: black;
  @include rfs(1.8rem 0 1rem, margin);
  transition: all 0.2s ease-in-out;

  .OurHighlights--Img:hover & {
    color: white;
  }
}

.OurHighlights--Img {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #fff5;
  @include padding(1.2rem);
  width: 100%;
  height: auto;
  border-radius: $borderRadius;

  &:hover {
    background: #0005;
  }

  img {
    @include padding(1.5rem);
    border-radius: $borderRadius;
    background-color: white;
    width: 100%;
  }
}

@supports (display: grid) {
  .OurHighlights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }

  .OurHighlights > * {
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .OurHighlights--Item {
    @include padding(1.5rem);
  }

  .OurHighlights--Img {
  }
}

@media screen and (max-width: 991.98px) {
  .OurHighlights--Img {
    @include padding(1.2rem);
  }
}

@media screen and (max-width: 767.98px) {
  .OurHighlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}

@media screen and (max-width: 413.98px) {
  .OurHighlights {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0;
  }
}
