.OurHighlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.OurHighlights--Item {
  @include padding(3rem);
  border-radius: $borderRadius;
  background-size: cover;

  &:nth-child(1) {
    background-color: $lightBlue;
    background-image: url(/images/hgl01.png);
  }
  &:nth-child(2) {
    background-color: $midYellow;
    background-image: url(/images/hgl02.png);
  }
  &:nth-child(3) {
    background-color: $lightGreen;
    background-image: url(/images/hgl03.png);
  }
  &:nth-child(4) {
    background-color: $lightOrange;
    background-image: url(/images/hgl04.png);
  }
}

.OurHighlights--Tt {
  @include font-size(1.6rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.23rem;
  @include margin-bottom(2.4rem);

  a {
    color: black;

    &:hover {
      color: $primary;
    }
  }
}

.OurHighlights--Img {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  @include padding(4rem 2rem);
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: $borderRadius;

  img {
    width: 100%;
  }
}

@supports (display: grid) {
  .OurHighlights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
  }

  .OurHighlights > * {
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .OurHighlights--Item {
    @include padding(2rem);
  }

  .OurHighlights--Img {
    @include padding(3rem 2rem);
  }
}

@media screen and (max-width: 991.98px) {
  // .OurHighlights--Item {
  //   @include padding(2rem);
  // }

  .OurHighlights--Img {
    @include padding(3rem 2rem);
  }
}

@media screen and (max-width: 767.98px) {
  .OurHighlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}
