.PageHeader {
  @include padding(4rem 0);
  text-align: center;
  text-transform: uppercase;
  background-color: $deepPurple;
}

.PageHeader--Title {
  @include margin-bottom(0rem);
  color: white;
  @include font-size(2.6rem);
  font-weight: 500;
  letter-spacing: 0.26rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    svg {
      margin-right: 1.5rem;
    }
  }
}

@media screen and (max-width: 413.98px) {
  .PageHeader--Title {
    @include font-size(2.5rem);
  }
}
