.SingleGeneral {
  background: white;
}

.SingleGeneral--Content {
  background: white;
}

.SingleGeneral--InnerContent {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 8rem;
}

.SingleGeneral--Image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include padding(7rem);
  background-color: $lightGrey;
  border-radius: $borderRadius;
  transition: all 0.3s ease-in-out;

  img {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: $softGrey;

    img {
      transform: scale(1);
    }
  }
}

.SingleGeneral--Title {
  @include font-size(4rem);
  @include margin-bottom(2.5rem);
}

.SingleGeneral--Price {
  @include font-size(3rem);
  color: $danger;
  font-family: $font-primary;
  font-weight: 500;
  @include margin-bottom(2.7rem);
}

.SingleGeneral--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.SingleGeneral--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SingleGeneral--BackButton:hover svg,
.SingleGeneral--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SingleGeneral--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SingleGeneral--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SingleGeneral--Pagination--Link.next {
  margin-left: auto;
}

@media screen and (max-width: 991.98px) {
  .SingleGeneral--Image {
    img {
      transform: scale(1);
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .SingleGeneral--InnerContent {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }

  .SingleGeneral--Image {
    @include margin-bottom(4rem);
  }
}
