.GeneralSection--Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.GeneralSection button {
  color: white;
  @include margin-top(5rem);
  background-color: $darkPurple;
  border: none;
  text-transform: uppercase;
  @include padding(1.8rem 3rem);
  cursor: pointer;
  border-radius: $borderRadius;
  transition: all 0.3s ease-in-out;
}

.GeneralSection button:hover {
  background-color: $primaryGreen;
  outline: none;
}

.GeneralSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .GeneralSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 767.98px) {
  .GeneralSection--Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}

@media screen and (max-width: 575.98px) {
  .GeneralSection--Grid {
    display: block;
    grid-template-columns: 1;
    grid-gap: 0;
  }
}
