.GeneralCategoriesNav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.GeneralCategoriesNav input[type='text'] {
  right: 0;
  position: absolute;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  background-color: $lightPurple;
  transition: all 0.2s ease-in-out;
}

.GeneralCategoriesNav input[type='text']:focus {
  outline: none;
  background-color: white;
}

.GeneralCategoriesNav input[type='text']::placeholder {
  color: $deepPurple;
}

@media (max-width: 767.98px) {
  .GeneralCategoriesNav {
    justify-content: center;

    .NavLink {
      @include rfs(0.14em, letter-spacing);
      @include rfs(1.4rem 0 0, margin);
    }
    
    input[type='text'] {
      position: relative;
      width: 100%;
      @include margin(1.4rem 0);
    }
  }
}

@media (max-width: 575.98px) {
  .GeneralCategoriesNav input[type='text'] {
    font-size: 1.8rem;
    line-height: normal;
  }
  .GeneralCategoriesNav {
    .NavLink {
      @include font-size(1.2rem);
      @include padding(0.8rem 1.4rem);
      @include rfs(0.1em, letter-spacing);
    }
  }
}
