.ToyCategoriesNav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;

  .NavLink:hover,
  .NavLink[aria-current] {
    color: $midYellow;
  }
}

.ToyCategoriesNav > * + * {
  margin-left: 1rem;
}

.ToyCategoriesNav input[type='text'] {
  right: 0;
  position: absolute;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  color: black;
  background-color: $lightPurple;
  transition: all 0.2s ease-in-out;
}

.ToyCategoriesNav input[type='text']:focus {
  outline: none;
  background-color: white;
}

.ToyCategoriesNav input[type='text']::placeholder {
  color: $deepPurple;
}

@media (max-width: 767.98px) {
  .ToyCategoriesNav {
    justify-content: center;

    .NavLink {
      letter-spacing: 0.14em;
    }
    
    input[type='text'] {
      position: relative;
      width: 100%;
      @include margin(1.4rem 0);
    }
  }
}

@media (max-width: 575.98px) {
  .ToyCategoriesNav {
    .NavLink {
      @include font-size(1.2rem);
      @include padding(0.5rem 0.7rem);
      letter-spacing: 0.1em;
    }
  }
}
