$primary: #8918b3;
$secondary: #000;
$lightGrey: #f5f6f6;
$softGrey: #e8e9e9;
$midGrey: #8B8B8B;
$darkGrey: #333333;
$midYellow: #ffcf31;
$primaryYellow: #fac329;
$lightOrange: #ffa936;
$midOrange: #F76E1B;
$primaryOrange: #f76e1b;
$primaryBlue: #1a86c9;
$lightBlue: #6BC0DB;
$midBlue: #00a8ff;
$primaryGreen: #3fb94e;
$lightGreen: #96b819;
$midGreen: #799a1b;
$darkGreen: #638500;
$deepGreen: #4A6C00;
$lightPurple: #d9cafc;
$softPurple: #6E55A2;
$midPurple: #9476d6;
$darkPurple: #8063C0;
$deepPurple: #594593;
$danger: #f44949;
$primaryRed: #e7134e;
$font-primary: 'Lato', sans-serif;
$font-system: system-ui; /* postcssPresetEnv */
$font-secondary: 'Quicksand', sans-serif;
$borderRadius: 6px;
