$primary: #8918b3;
$secondary: #000;
$lightGrey: #f5f6f6;
$midGrey: #e8e9e9;
$darkGrey: #333333;
$primaryYellow: #fac329;
$midYellow: #ffcf31;
$lightOrange: #ffa936;
$primaryOrange: #f76e1b;
$primaryBlue: #1a86c9;
$lightBlue: #00a8ff;
$primaryGreen: #3fb94e;
$lightGreen: #96b819;
$midGreen: #799a1b;
$darkGreen: #638500;
$lightPurple: #d9cafc;
// $midPurple: #9476d6;
$midPurple: #8063C0;
$darkPurple: #594593;
$danger: #f44949;
$primaryRed: #e7134e;
$font-primary: 'Lato', sans-serif;
$font-system: system-ui; /* postcssPresetEnv */
$font-secondary: 'Quicksand', sans-serif;
$borderRadius: 6px;
