.footer {
  color: white;
  font-size: 1.4rem;
}

.footer-Top {
  padding: 10rem 0 5rem;
  background-color: var(--lightGreen);
}

.Logo-Footer {
  width: 19.8rem;
  height: 12rem;
  margin: 0 auto;
  display: block;
  background-color: transparent;
}

.footer-Bottom {
  padding: 2rem 0;
  background-color: var(--midGreen);
}

.footer a {
  color: var(--lightYellow);
  text-decoration: none;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1080px) {

  .footer {
    font-size: 1.2rem;
  }
}
