:root {
  --primary: #E7134E;
  --secondary: #000;
  --danger: #ff3d3d;
  --blue: #2BAEE8;
  --lightBlue: #6CC0DB;
  --green: #A3C123;
  --yellow: #FAC53A;
  --red: #F44949;
  --purple: #7256AF;
  --heading: #3E0538;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Averia Libre', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::selection {
  background: #E7134E;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: var(--purple);
}

body {
  text-align: center;
  font-family: var(--font-system);
  min-height: 100%;
  position: relative;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--heading);
  margin: 0;
  margin-bottom: 0.5em;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}