.Logo {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 19.8rem;
  height: 12rem;
  align-items: center;
  justify-content: center;
}
