.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: rfs(15rem 0);
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: rfs(20rem 0);
}

.PageHeader--Title {
  font-size: rfs(6rem);
  line-height: rfs(7.5rem);
  margin-bottom: 2rem;
}

.PageHeader--Subtitle {
  font-weight: 300;
  font-size: rfs(2.2rem);
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

